on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: DenverCoder1/doxygen-github-pages-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          folder: docs
